<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BakSTore</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyStore.styles.css" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <!-- SIDEBAR -->
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark position-sticky top-0 vh-100">
            
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white">
                
                    <!-- Logo -->
                    <a asp-controller="Home" asp-action="Index"
                           class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline fw-bold fs-3 textMain">BackStore</span>
                    </a>

                    <!-- Menu -->
                    <ul class="nav nav-pills flex-column mb-auto align-items-center align-items-sm-start">
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Index"
                                   class="nav-link text-white d-flex align-items-center gap-2">
                                <i class="fa-solid fa-house"></i> <span>Home</span>
                            </a>
                        </li>

                        @if (User.Identity!.IsAuthenticated)
                        {
                            @if (User.IsInRole("Admin"))
                            {
                                <li>
                                    <a asp-controller="Product" asp-action="Index"
                                           class="nav-link text-white d-flex align-items-center gap-2">
                                        <i class="fa-solid fa-tag"></i> <span>Products</span>
                                    </a>
                                </li>

                                <li>
                                    <a asp-controller="Category" asp-action="Index"
                                           class="nav-link text-white d-flex align-items-center gap-2">
                                        <i class="fa-solid fa-list"></i> <span>Category</span>
                                    </a>
                                </li>
                            }
                        }

                        @await Html.PartialAsync("_CartButton")
                    </ul>

                    @if (User.Identity!.IsAuthenticated)
                    {
                        <!-- User -->
                        <div class="dropdown pb-4 mt-5">
                            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                                <span class="d-none d-sm-inline mx-1">@User.Identity.Name</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                                <li><a class="dropdown-item" href="/User/MyOrders">My orders</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout">Logout</a></li>
                            </ul>
                        </div>
                    }
                    else
                    {
                        <ul class="nav nav-pills flex-column mb-auto align-items-center align-items-sm-start">
                            <li>
                                <a href="/Account/Login"
                                       class="nav-link text-white d-flex align-items-center gap-2">
                                    <i class="fa-solid fa-tag"></i> <span>Login</span>
                                </a>
                            </li>
                        </ul>
                    }

                    

                </div>
            </div>

            <!-- MAIN -->
            <div class="col py-3">
                <div class="container">
                    <main class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    </div>



   

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - MyStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
